@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
  }

  .gallery,
  .section-team,
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .header {
    display: flex;
    background-color: #ffffff;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    padding: 32px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    box-sizing: border-box;
    align-items: center;
    border: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
      0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .header-container {
    display: flex;
    align-items: center;
    width: 1128px;
  }

  .logo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    margin-right: 76px;

    width: 115px;
    height: 24px;
  }

  .header-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;

    position: absolute;
    width: 261px;
    height: 52px;
    left: 40%;
    transform: translate(-50%);
  }

  .header-link {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5px;

    letter-spacing: 0.02em;
    text-transform: capitalize;

    color: #2e2f42;

    padding-top: 24px;
    padding-bottom: 24px;
  }

  .header-item {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: #2e2f42;
  }

  .header-list :not(:last-child) {
    margin-right: 0;
  }
  .current {
    color: #404bbf;
  }
  .header-social-item {
    display: none;
  }
  .current::after {
    content: '';
    display: block;
    width: 48px;
    height: 4px;
    left: 0;
    bottom: -6px;
    position: absolute;
    background: #404bbf;
    border-radius: 2px;
  }

  .header-address {
    display: flex;
    font-style: normal;
    margin-left: auto;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    padding: 0px;
  }

  .header-contacts {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .header-mail {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-adress-color);
    text-decoration: none;
  }

  .header-tel {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--text-adress-color);
    text-decoration: none;
  }

  .header-contacts .contact + .contact {
    margin-left: 40px;
  }

  .header-link:hover,
  .header-link:focus,
  .header-mail:hover,
  .header-tel:hover,
  .header-mail:focus,
  .header-tel:focus {
    color: var(--hover-focus-color);
    font-size: 16px;
  }

  .header-link:active {
    color: #2e2f42;
  }

  .header-contacts .contact + .contact {
    margin-left: 40px;
  }

  .header-list-mobile {
    display: none;
  }

  @media (min-width: 1200px) {
    .hero {
      padding-top: 188px;
      padding-bottom: 188px;
      width: 1440px;
      height: 600px;
      margin: 0 auto;

      background-image: url(../images/desk-1x-bg.jpg);
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/desk-1x-bg.jpg);
    }
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero {
      background-image: url(../images/desk-2x-bg.jpg);
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/desk-2x-bg.jpg);
    }
  }

  .about-container {
    display: flex;
    width: 1128px;
    height: 224px;
    flex-direction: column;
    align-items: flex-start;
  }

  .about-content {
    width: 264px;
    height: 72px;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;

    color: #434455;
  }

  .about-list .about-item {
    margin: 0;
    width: calc((100% - 72px) / 4);
    gap: 24px;
    align-items: flex-start;
  }
  /* .about-item {
    width: calc((100% - 72px) / 4);
  } */

  .about-list {
    display: flex;
  }

  .about-social-link {
    display: flex;
  }

  .about-item-title {
    width: 264px;
    height: 24px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;

    color: #2e2f42;
  }
  .about-item-subscribe {
    width: 264px;
    height: 72px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;

    letter-spacing: 0.02em;

    color: #434455;
  }

  .about-item:nth-child(4n) {
    margin-right: 0;
  }

  .team-item {
    width: calc((100% - 72px) / 4);
  }

  .customers-container {
    width: 1200px;
  }
  .customers-item {
    width: calc((100% - 120px) / 6);
    height: 88px;
  }
  .customers-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;

    height: 88px;
  }

  .customers-item-link {
    display: flex;
    justify-content: center;

    width: 100%;
    height: 100%;
    align-items: center;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    color: #8e8f99;
    transition: border-color var(--transition-dur-func);
    transition: color var(--transition-dur-func);
  }

  .footer-container {
    display: flex;
  }
  .footer {
    background: #2e2f42;
    height: 310px;
  }

  .footer-subscribe {
    width: 264px;
    height: 72px;
  }
  .footer-logo {
    width: 115px;
    height: 22px;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
  }

  .form-subscribe-wrapper {
    display: flex;
    background-color: transparent;
  }
}

@media screen and (max-width: 1198px) {
  .hero {
    display: flex;
    background-position: center;
  }
}

.footer {
  background: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    width: 1200px;

    margin-left: auto;
    margin-right: auto;
    padding-left: 36px;
    padding-right: 36px;
    flex-wrap: nowrap;
  }

  .form-subscribe-wrapper {
    display: flex;
    margin-top: 0;
  }

  .footer-text {
    justify-content: center;
    align-items: center;
    margin-left: 0;
    margin-bottom: 0;
  }

  .footer-logo {
    width: 115px;
    height: 22px;
    display: flex;
    align-items: center;
    padding: 0px;
    justify-content: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
  }

  .footer-logo-first {
    color: var(--text-first-logo-btn);
  }

  .footer-logo-second {
    color: #f4f4fd;
  }

  .footer-subscribe {
    justify-content: flex-start;
    margin-top: 16px;
    width: 268px;
    height: 72px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #e7e9fc;
  }

  .footer-social {
    width: 208px;
    height: 80px;
    margin-left: 120px;
    margin-right: 80px;
    text-align: center;
  }

  .footer-social-title {
    display: inline;

    text-align: center;

    width: 96px;
    height: 24px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: rgba(255, 255, 255, 1);
  }

  .footer-social-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
    width: 208px;
    height: 40px;
    margin-top: 16px;
  }

  .footer-social-item {
    display: flex;
    width: 40px;
    height: 40px;
  }

  .footer-social-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    transition: background-color var(--transition-dur-func);
  }

  .footer-social-link:is(:hover, :focus) {
    background-color: #31d0aa;
  }

  .footer-social-icon {
    fill: #fff;
  }

  .form-subscribe {
    margin-left: 0;
  }

  .title-subscribe {
    justify-content: center;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    width: 75px;
    height: 24px;
  }

  .contact-form {
    width: 264px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: #2e2f42;
    padding-left: 15px;
    color: #ffffff;
  }

  .contact-form-field {
    margin-right: 24px;
  }

  .subscribe-btn {
    position: relative;
    display: flex;
    width: 165px;
    height: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 16px;
    background: #4d5ae5;
    border-radius: 4px;
    color: #ffffff;
    border-color: #4d5ae5;
    border: none;
    transition: color var(--transition-dur-func), background-color var(--transition-dur-func),
      border-color var(--transition-dur-func);
    cursor: pointer;
  }

  .subscribe-btn:hover,
  .subscribe-btn:focus {
    background-color: var(--hover-focus-color);
    color: white;
  }
}
