@media screen and (min-width: 320px) and (max-width: 767px) {
  .container {
    max-width: 428px;
  }

  .header-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }
  .menu-hamburger {
    display: flex;
    position: absolute;
    top: 24px;
    right: 24px;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: transparent;
    color: #2e2f42;
    background: #e7e9fc;
  }

  .about-container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  .about-list {
    display: flex;
    /* flex-wrap: wrap; */
    list-style: none;

    /* width: calc((100% - 24px) / 2); */
  }

  .about-item {
    /* flex-basis: calc((100% - 72px) / 4); */
  }

  .about-list .about-item {
    width: calc((100% - 30px) / 2);
  }

  .about-content {
    width: 396px;
    height: 96px;
  }

  .about-item-subscribe {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;

    letter-spacing: 0.02em;
    color: #434455;
  }
  .about-social-link {
    visibility: hidden;
  }

  .hero {
    width: 428px;
    height: 432px;
    background-image: url(../images/mob-1x-bg.jpg);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mob-1x-bg.jpg);
  }

  .footer-container {
    display: block;
  }
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/mob-2x-bg.jpg);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/mob-2x-bg.jpg);
  }
}

@media screen and (max-width: 767px) {
  .is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  .backdrop {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity var(--basic-transition);
  }

  .menu-hamburger {
    border: none;
    background-color: transparent;
  }

  .header-list {
    margin-top: 56px;
  }
  .header-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .header-link {
    font-weight: 700;
    font-size: 36px;
  }
  /* .header-nav {
    display: none;
  } */
  .header-list {
    margin-top: 56px;
  }
  .header-tel {
    font-weight: 700;
    font-style: 26px;
  }
  .header-tel:active {
    color: var(--hover-focus-color);
  }

  .mobile-header-btn {
    display: flex;
    top: 24px;
    right: 24px;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-color: transparent;
    color: #2e2f42;
    background: #e7e9fc;
    margin-left: auto;
  }
  .header-address {
    display: none;
  }
  .header-list {
    display: none;
  }
  .header-list-mobile {
  }
  .is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  .mobile {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
    padding: 24px 24px 40px 40px;
    width: 100%;
    height: 100%;
    background-color: white;
    transition: opacity 250ms;
  }
  .header-item {
    margin-bottom: 56px;
  }

  .header-item:not(:last-child) {
    margin-bottom: 40px;
  }
  .header-link {
    font-weight: 700;
    font-size: 36px;
  }
  .header-link:active {
    color: var(--hover-focus-color);
  }

  .gallery {
    display: none;
  }

  .about-social-link {
    display: none;
  }

  .about-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    row-gap: 72px;
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .customers-item {
    width: calc((100% - 32px) / 2);
  }
  .customers-item-img {
    width: 110px;
    height: 56px;
  }

  .customers-item-link {
    width: 190px;
    height: 88px;
  }

  .footer {
    padding-top: 96px;
    padding-bottom: 96px;
    display: flex;
  }

  .footer-container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer-logo {
    width: 115px;
    height: 22px;
    display: flex;
    align-items: center;
    padding: 0px;
    justify-content: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
  }

  .title-subscribe {
    display: flex;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    justify-content: center;
    letter-spacing: 0.02em;

    color: #ffffff;

    margin-bottom: 16px;
  }

  .contact-form {
    flex-direction: column;
    align-items: center;
    padding-left: 16px;
    width: 100%;
    height: 40px;
    border: 1px solid hsl(0, 0%, 30%);
    filter: drop-shadow(0px 4px 4px px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: #2e2f42;
    margin-bottom: 16px;
  }

  .contact-form-field label {
    width: 398px;
    text-align: center;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
  }

  .contact-form-field:nth-child(1) {
    padding-top: 0;
  }

  .form-subscribe {
    width: 398px;
    height: 136px;
    background: #2e2f42;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-subscribe-wrapper {
    display: flex;

    flex-direction: column;
    align-items: center;
  }

  .subscribe-btn {
    position: relative;
    display: flex;
    width: 165px;
    height: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 24px;
    gap: 16px;
  }
}
